.chart2-area {
    overflow-y: scroll;
    position: relative; 
    height:60vh; 
    width:100%
}

.order-count {
    border: 2px blue solid;
}

.sales-count {
    border: 2px #13d913 solid;
}