.status-label1{
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
    background:rgb(62 160 175 / 89%);
}
.status-label2{
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
    background: rgb(71 185 157);
}