.detail-card{
    position: fixed;
    max-height: 62%;
    z-index: 4;
    box-shadow: 0 0 2rem!important;
    padding: 15px;
    width: 65%;
    margin-top: 0%;
    overflow-x: scroll;
    }