<div class="body">
    <div class="head">
        <h1>Our Brands</h1>
    </div>
    <div class="main">
        <div class="image-container">
            <div class="img">
                <img src="assets/Sliders/brands/kannan.png" alt="" class="img">
            </div>
            <div class="img">
                <img src="assets/Sliders/brands/balaji.png" alt="" class="img">
            </div>
            <div class="img">
                <img src="assets/Sliders/brands/crown.png" alt="">
            </div>
        </div>
        <div class="image-container">
            <div class="img">
                <img src="assets/Sliders/brands/kamdhenu.png" alt="">
            </div>
            <div class="img">
                <img src="assets/Sliders/brands/lotus.png" alt="">
            </div>
            <div class="img">
                <img src="assets/Sliders/brands/radha-krishna.png" alt="">
            </div>  
        </div>
    </div>
</div>