<div class="login-body">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
      <div class="card shadow border-0 p-5">
        <div class="form-section">
          <div *ngIf="isTrue" class="auth-wrapper">
            <h2 class="welcome-msg"> Reset Password </h2>
            <p class="auth-signup-text text-muted">Let Us Help You</p>
            <form class="validate-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <span class="error-subheader2 p-t-20 p-b-15">
                    Enter your registered Mobile Number.
                  </span>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput type="number" formControlName="number" onmousewheel="return false;"
                      pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10"
                      oninput="this.value.length > this.maxLength ? this.value = this.value.slice(0, this.maxLength): this.value"
                      required>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="resetForm.get('number').hasError('required')">
                      Please enter a valid Number address
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('number').hasError('pattern')">
                      Number should like (e.g. 9774743643)
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="container-auth-form-btn mt-3">
                <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!resetForm.valid"
                  type="submit" (click)="startTimer()">
                  Reset My Password
                </button>
              </div>
              <div class="w-full p-t-25 text-center">
                <div>
                  <a routerLink="/authentication/login" class="text-primary">
                    Login?
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="isFalse" class="auth-wrapper">
            <h2 class="welcome-msg"> OTP Verification </h2>
            <form class="validate-form" [formGroup]="otpForm">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>OTP NUMBER</mat-label>
                    <input matInput type="number" formControlName="otpNumber" onmousewheel="return false;"
                      pattern="[0-9]{6}" minlength="6" maxlength="6"
                      oninput="this.value.length > this.maxLength ? this.value = this.value.slice(0, this.maxLength): this.value"
                      required>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="otpForm.get('otpNumber').hasError('required')">
                      Please enter a valid OTP
                    </mat-error>
                  </mat-form-field>
                  <p>Resend OTP in  <b><strong style="color: blue;">{{timeLeft}}</strong></b> seconds...</p>
                </div>
              </div>
              <div class="container-auth-form-btn d-flex flex-wrap justify-content-between mt-3">
                <button mat-flat-button color="primary" (click)="onSubmitOtp()" class="auth-form-btn" [disabled]="!otpForm.valid" type="submit">
                  Confirm
                </button>
                <button *ngIf="timeLeft===0" mat-raised-button color="accent" (click)="reset()">Resend OTP</button>
              </div>
            </form>
          </div>
          <div *ngIf="passwordPage" class="auth-wrapper">
            <h2 class="welcome-msg"> Enter The New Password </h2>
            <form class="validate-form" [formGroup]="passwordForm" (ngSubmit)="setPassword()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                  <mat-form-field class="example-full-width mb-4" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]=" toogle ? 'password' : 'text'" formControlName="newPassword" required>
                    <mat-icon matSuffix [hidden]="toogle ? true : false" (click)="toogle = !toogle">password</mat-icon>
                    <mat-icon matSuffix [hidden]="!toogle ? true : false"
                      (click)="toogle = !toogle">remove_red_eye</mat-icon>
                    <mat-error *ngIf="passwordForm.get('newPassword').hasError('required')">
                      New Password is required
                    </mat-error>
                    <mat-error class="pasword" *ngIf="passwordForm.get('newPassword').hasError('pattern')">
                      Your password must be have at least 8 characters
                      <ul>
                        <li>1 uppercase & 1 lowercase character</li>
                        <li>1 number & a special character</li>
                      </ul>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width mb-4" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]=" toogle ? 'password' : 'text'" formControlName="confirmPassword" required>
                    <mat-icon matSuffix [hidden]="toogle ? true : false" (click)="toogle = !toogle">password</mat-icon>
                    <mat-icon matSuffix [hidden]="!toogle ? true : false"
                      (click)="toogle = !toogle">remove_red_eye</mat-icon>
                    <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')">
                      <b> Confirm New Password is required</b>
                    </mat-error>
                  </mat-form-field>
                  <mat-error *ngIf="passwordForm.get('confirmPassword').value != passwordForm.get('newPassword').value">
                    Confirm New Password does not match
                  </mat-error>
                </div>
              </div>
              <div class="container-auth-form-btn mt-3">
                <button mat-flat-button color="primary" class="auth-form-btn"
                  [disabled]="!passwordForm.valid || passwordForm.get('confirmPassword').value != passwordForm.get('newPassword').value"
                  type="submit">
                  Continue
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>