<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>

   
  </div>
</div>

<div class="container-fluid mt--14">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header card-header-default">
          <div class="materialTableHeader">
            <div class="d-flex justify-content-between">
              <button routerLink="/vehicle/add-service-items" class="table-header-btn tbl-action-btn mx-2">
                <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Service Item
              </button>

            </div>
            <div>
              <input class="form-control" placeholder="Search by Service Type" type="text" #filter
                [(ngModel)]="searchTerm" (ngModelChange)="search()" class="browser-default search-field"
                aria-label="Search box" />

              <button mat-fab color="primary" class="download-btn ml-2 mt-2" [matMenuTriggerFor]="aboveMenu">
                <mat-icon>download</mat-icon>
              </button>
              <mat-menu class="export-option px-1" #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item (click)="pdfExport()">
                  <mat-icon class="text-danger">picture_as_pdf</mat-icon>
                </button>
                <button mat-menu-item (click)="exelExport()">
                  <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">

            <mat-table #table id="table" matTableExporter style="min-width: 800px" [dataSource]="dataSource" matSort
              #exporter="matTableExporter" [hiddenColumns]="[2]" (matSortChange)="sortData($event)" class="mat-cell">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select" id="checkBox" class="form-check">
                <mat-header-cell *matHeaderCellDef class="thead-light" [ngClass]="'tbl-col-width-per-6'">
                  <input type="checkbox" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'" />
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <input type="checkbox" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                    [ngClass]="'tbl-checkbox'" />
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="itemName">
                <mat-header-cell *matHeaderCellDef class="thead-light" mat-sort-header
                  style="justify-content: center;">Service Item</mat-header-cell>
                <mat-cell *matCellDef="let row" style="justify-content: center;">
                  {{ row.itemName }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef class="thead-light" mat-sort-header style="justify-content: center;">
                  Service Description</mat-header-cell>
                <mat-cell *matCellDef="let row" style="justify-content: center;">
                  {{ row.description ? row.description : '-'}}</mat-cell>
              </ng-container>


              <!-- actions -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="thead-light"
                  style="justify-content: center;">Actions</mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index;" class="pr-0" style="justify-content: center;">
                  <button mat-icon-button (click)="$event.stopPropagation()" (click)="deleteCall(row)"
                    class="tbl-action-btn mx-2">
                    <i class="fa fa-trash-o" aria-hidden="true" style="color: red;font-size: 22px;"></i>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
              <mat-row *matRowDef="let row; columns: displayedColumns" (click)="editCall(row)"
                [style.cursor]="'pointer'" matRipple>
              </mat-row>
            </mat-table>

            <div *ngIf="dataSource?.length == 0" class="no-results">
              No results
            </div>
            <mat-paginator #paginator [length]="data?.totalElements" [pageIndex]="0" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPage($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>