<div class="header header-bg-gradient-info pb-8 pt-4 mb-0 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>

    <div *ngIf="hideDetailDialog" class="d-flex gap-5 col-10 justify-content-center mx-auto">
      <div class="card list-card">
        <div class="d-flex justify-content-between">
          <div>
            Request No. :<strong> {{ addEmployeeleave.value.id }} </strong>
          </div>
          <button mat-raised-button type="button"
          class="btn btn-outline-danger btn-link btn-sm btn-just-icon">
          <i class="material-icons" (click)="close()" style="margin-top: 0px !important">close</i>
        </button>
        </div>

        <form class="register-form m-4" [formGroup]="addEmployeeleave" (ngSubmit)="onRegister()">
          <div class="row">
            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label>Employee</mat-label>
                <input matInput readonly="true" [value]="addEmployeeleave.value.employee.name" required />
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
            </div>

            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label>Leave Type</mat-label>
                <input matInput readonly="true" [value]="addEmployeeleave.value.leaveType" required />
                <mat-icon matSuffix>flag</mat-icon>
              </mat-form-field>
            </div>

            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label>Duration</mat-label>
                <input matInput readonly="true" [value]="addEmployeeleave.value.duration" required />
                <mat-icon matSuffix>donut_large</mat-icon>
              </mat-form-field>
            </div>

            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <mat-form-field class="example-full-width mb-3">
                <mat-label> Start Date </mat-label>
                <input matInput readonly="true" [value]="addEmployeeleave.value.startDate" />
                <mat-error *ngIf="addEmployeeleave.get('startDate').hasError('required')">
                  Please select date
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <mat-form-field class="example-full-width mb-3">
                <mat-label>End Date </mat-label>
                <input matInput readonly="true" [value]="addEmployeeleave.value.endDate" />
                <mat-error *ngIf="addEmployeeleave.get('endDate').hasError('required')">
                  Please select date
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <mat-form-field class="example-full-width mb-3">
                <mat-label>Compensation Date </mat-label>
                <input matInput readonly="true"
                  [value]="addEmployeeleave.value.compensationDate ? addEmployeeleave.value.compensationDate : 'No Compensation'" />
                <mat-error *ngIf="addEmployeeleave.get('endDate').hasError('required')">
                  Please select date
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-form-field class="example-full-width">
                <mat-label>Reason</mat-label>
                <textarea maxlength="150" matInput readonly="true" [value]="addEmployeeleave.value.reason"
                  required></textarea>
                <mat-icon matSuffix>description</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-white order-list-button">
                <button class="btn btn-success px-3" [disabled]="reject" (click)="actionCall('accept')">
                  Approve
                </button>

                <button class="btn btn-danger px-3" *ngIf="rejectBtn" (click)="actionCall('reject')">
                  Reject
                </button>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 drop" [ngClass]="rise ? 'rise' : ''">
                <div class="row" *ngIf="reject">
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Reason for Rejection</mat-label>
                      <mat-icon matSuffix>note</mat-icon>
                      <mat-select matInput formControlName="rejectReason">
                        <mat-option *ngFor="let item of rejectReason" [value]="item">
                          {{ item.rejectReason }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <button class="btn btn-danger" [disabled]="!addEmployeeleave.value.rejectReason"
                      (click)="rejectRequest()">
                      Reject
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 px-5 row">
    <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-0">
      <mat-form-field class="example-full-width date" appearance="outline">

        <mat-label>Search by From Date </mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="fromDate"
          (dateChange)="loadData()" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-0">
      <mat-form-field class="example-full-width date" appearance="outline">
        <mat-label>Search by To Date </mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="toDate" [min]="fromDate"
          (dateChange)="loadData()" /> <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header card-header-default">
          <div class="materialTableHeader">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 d-flex flex-wrap justify-content-between align-items-center my-2">
              <div *ngIf="userRole != 'ADMIN'" class="card-title">
                <h4 class="page-header mt-1">Leave Approval</h4>
              </div>
              <div *ngIf="userRole === 'ADMIN'">
                <button routerLink="/admin/add-leave-request" class="table-header-btn tbl-action-btn mx-2">
                  <i class="fa fa-plus mr-2" aria-hidden="true"></i>Rise Request
                </button>
              </div>
              <!-- {{userRole}} -->
            </div>
            <div>
              <input class="form-control" placeholder="Search by Employee" type="text" #filter [(ngModel)]="searchTerm"
                (ngModelChange)="search()" class="browser-default search-field" aria-label="Search box" />

              <button mat-fab color="primary" class="download-btn ml-2 mt-2" [matMenuTriggerFor]="aboveMenu">
                <mat-icon>download</mat-icon>
              </button>
              <mat-menu class="export-option px-1" #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item (click)="pdfExport()">
                  <mat-icon class="text-danger">picture_as_pdf</mat-icon>
                </button>
                <button mat-menu-item (click)="exelExport()">
                  <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                </button>
              </mat-menu>

            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <mat-table #table id="table" matTableExporter style="min-width: 800px" [dataSource]="dataSource" matSort
              #exporter="matTableExporter" [hiddenColumns]="[6]" (matSortChange)="sortData($event)" class="mat-cell">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select" id="checkBox" class="form-check">
                <mat-header-cell *matHeaderCellDef class="thead-light" [ngClass]="'tbl-col-width-per-6'">
                  <input type="checkbox" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'" />
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <input type="checkbox" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                    [ngClass]="'tbl-checkbox'" />
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="index">
                <mat-header-cell *matHeaderCellDef class="thead-light" style="justify-content: center" mat-sort-header>S
                  No.
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" (contextmenu)="onContextMenu($event, row)"
                  style="justify-content: center">{{ i + 1 }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="employee.name">
                <mat-header-cell *matHeaderCellDef class="thead-light" mat-sort-header
                  style="justify-content: center">Employee</mat-header-cell>
                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                  style="justify-content: center">
                  {{ row.employee.name }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef class="thead-light" mat-sort-header
                  style="justify-content: center">Start Date</mat-header-cell>
                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                  style="justify-content: center">
                  {{ row.startDate | date: 'dd-MM-yyyy'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef class="thead-light" mat-sort-header
                  style="justify-content: center">End
                  Date</mat-header-cell>
                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                  style="justify-content: center">
                  {{ row.endDate | date: 'dd-MM-yyyy'}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="duration">
                <mat-header-cell *matHeaderCellDef class="thead-light" mat-sort-header
                  style="justify-content: center">Duration</mat-header-cell>
                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                  style="justify-content: center">
                  {{ row.duration }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="leaveType">
                <mat-header-cell *matHeaderCellDef class="thead-light" mat-sort-header
                  style="justify-content: center">Leave Type</mat-header-cell>
                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                  style="justify-content: center">
                  {{ row.leaveType }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="employeeLeaveStatus">
                <mat-header-cell *matHeaderCellDef class="thead-light" mat-sort-header
                  style="justify-content: center">Employee Leave Status</mat-header-cell>
                <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"
                  style="justify-content: center">
                  {{ row.employeeLeaveStatus }}</mat-cell>
              </ng-container>

              <!-- actions -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="thead-light"
                  style="justify-content: center">Actions</mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" class="pr-0" style="justify-content: center">
                  <button mat-icon-button *ngIf="row.employee.phoneNumber != currentUserId" (click)="$event.stopPropagation()" (click)="viewCall(row)"
                    class="tbl-action-btn mx-2">
                    <i class="material-icons icon_blue" style="color: blue">remove_red_eye</i>
                  </button>

                  <button mat-icon-button *ngIf="row.employee.phoneNumber === currentUserId" (click)="$event.stopPropagation()" (click)="deleteCall(row)"
                    [disabled]="row.employeeLeaveStatus != 'PENDING'" class="tbl-action-btn mx-2">
                    <i class="material-icons"
                      [style]="row.employeeLeaveStatus != 'PENDING' ? 'color: #ff00005c' : 'color: red'">delete_outline</i>
                  </button>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns" (click)="row.employee.phoneNumber === currentUserId ? '' : viewCall(row) "
                [style.cursor]="'pointer'" matRipple>
              </mat-row>
            </mat-table>

            <div *ngIf="dataSource?.length == 0" class="no-results">
              No results
            </div>
            <mat-paginator #paginator [length]="data?.totalElements" [pageIndex]="0" [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPage($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>