.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.body h1,
p {
  text-align: center;
}

.team-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  position: relative;
}

.team-card {
  position: relative;
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  height: 50vh;
}

.team-card-footer {
  height: 13vh;
  overflow: auto;
}

.team-card img {
  width: 100%;
  height: 75%;
  overflow: auto;
  border-radius: 10px 10px 0 0;
}

.team-card:hover {
  opacity: 0.5;
  pointer-events: auto;
  /* Enable pointer events when icons are visible */
}

.team-card h1,
.team-card h2 {
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
}

.card:hover .social-icons {
  opacity: 1;
  pointer-events: auto;
  /* Enable pointer events when icons are visible */
}

@media (max-width: 954px) {

  .team-card {
    position: relative;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
  }

  .team-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: min-content;
    margin-bottom: 142px;

  }

  .body {
    margin-top: 100px;
  }
  .header{
    margin-top: 60px;
  }

}

.social-icons {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  opacity: 0;
  pointer-events: none;
}

.social-icons a i {
  font-size: 30px;
  margin: 10px;
  display: inline-block;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.social-icons a i:hover {
    border-radius: 50%;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}