<div *ngIf="galleryItems" class="gallery-container">
  <div class="row mb-5">
    <section class="img-containeragon-gallery">
      <div class="img-container">
          <img src="assets\img\cardholder1.jpeg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder2.jpeg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder3.jpeg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder4.jpeg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder5.jpeg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder6.jpeg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder9.jpg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder7.jpg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder10.jpg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder11.jpg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder12.jpg" />
      </div>
      <div class="img-container">
        <img src="assets\img\cardholder8.jpg" />
      </div>
    </section>
  </div>
</div>