.table {
  > thead > tr > th {
    border-bottom-width: 1px;
    font-size: $font-size-h5;
    font-weight: $font-weight-light;
  }

  .form-check {
    margin-top: 0;

    .form-check-sign {
      top: -13px;
      left: 0;
      padding-right: 0;
    }
  }

  .radio,
  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 15px;

    .icons {
      position: relative;
    }
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    padding: 12px 8px;
    vertical-align: middle;
  }

  thead {
    tr {
      th {
        font-size: 1.063rem;
      }
    }
  }

  .th-description {
    max-width: 150px;
  }
  .td-price {
    font-size: 26px;
    font-weight: $font-weight-light;
    margin-top: 5px;
    text-align: right;
  }
  .td-total {
    font-weight: $font-weight-bold;
    font-size: $font-size-h5;
    padding-top: 20px;
    text-align: right;
  }

  .td-actions .btn {
    margin: 0px;
    padding: 5px;
  }

  > tbody > tr {
    position: relative;
  }
}

.mat-table {
  min-width: 800px;
}

.materialTableHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-table {
  min-width: 450px !important;
  width: 100%;
  text-align: center !important;
}

.table-shopping {
  > thead > tr > th {
    font-size: $font-size-h6;
    text-transform: uppercase;
  }
  > tbody > tr > td {
    font-size: $font-paragraph;

    b {
      display: block;
      margin-bottom: 5px;
    }
  }
  .td-name {
    font-weight: $font-weight-default;
    font-size: 1.5em;
    line-height: 1.42857143;

    small {
      color: $gray-light;
      font-size: 0.75em;
      font-weight: $font-weight-light;
    }
  }
  .td-number {
    font-weight: $font-weight-light;
    font-size: $font-size-h4;
  }
  .td-name {
    min-width: 200px;
  }
  .td-number {
    text-align: right;
    min-width: 150px;

    small {
      margin-right: 3px;
    }
  }

  .img-container {
    width: 120px;
    max-height: 160px;
    overflow: hidden;
    display: block;

    img {
      width: 100%;
    }
  }
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 700;
  color: black !important;
}

// BS4 has not yet converted the following to variables - keep an eye on it and move to variables when possible.
.thead-inverse {
  th {
    //color: $bmd-inverse; // #fff;
    //background-color: $gray-dark;
  }
}
.thead-default {
  th {
    //color: $gray;
    //background-color: $bmd-inverse-lighter; //$gray-lighter;
  }
}

.table-inverse {
  color: $bmd-inverse-light; //$gray-lighter;
  //background-color: $gray-dark;

  //th,
  //td,
  //thead th {
  //  border-color: $gray;
  //}
}

.table {
  thead th {
    font-size: $bmd-table-header-font-size;
    font-weight: 500;

    border-top-width: 0;
    border-bottom-width: $table-border-width;
  }
}

thead.thead-inverse,
// needs specificity
.table-inverse thead {
  th {
    color: $bmd-inverse-lighter;
  }
}

.table-inverse {
  th,
  td,
  thead th {
    border-color: $bmd-table-border-color-inverse;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

mat-header-cell {
  font-size: 13px;
  justify-content: center;
}

mat-cell {
  word-break: break-word;
  font-size: 12px;
  justify-content: center;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 0% !important;
}

mat-header-row {
  text-transform: uppercase;
  min-height: 50px;
}

mat-row {
  min-height: 48px;
}

mat-row:nth-child(odd) {
  background-color: #f3f3f3;
}

.mat-column-select {
  flex: 0 0 50px;
}

.list tr:nth-child(even) {
  background-color: #f3f3f3;
}

.order-list-table {
  min-width: 450px;
  width: 100%;
  text-align: center;

  #no-results{
    border: none;
    background: transparent !important;
  }
}

._list-table {
  min-width: 450px;
  width: 100%;
  text-align: center;
  border-radius: 0 0 8px 8px;

  thead {
    // border-bottom: 2px solid black;
    background: #c9e6ff;
  }
  tr {
    border-bottom: 1px solid #a1a1a1;
  }
  tr:last-child {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
  }

  #no-results{
    border: none;
    background: transparent !important;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  font-size: 21px;
  margin: 10px;
}

.table_list {
  max-height: 350px;
  overflow-y: auto;
}

$baseColor: #3468b5;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

body {
  background-color: lighten($baseColor, 30%);

  * {
    box-sizing: border-box;
  }
}

.headers {
  background-color: darken($baseColor, 5%);
  color: white;
  font-size: 14px;
  // padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px 8px 0 0;
}

table {
  width: 100%;
  text-align: center;

  td,
  th {
    color: darken($baseColor, 10%);
    padding: $padding;
  }

  td {
    text-align: center;
    vertical-align: middle;
    padding: 1px;
  }

  tr {
    &:nth-child(2n) {
      background-color: white;
    }

    &:nth-child(2n + 1) {
      background-color: lighten($baseColor, 55%);
    }
  }
}

.table-users {
  border: 1px solid darken($baseColor, 5%);
  border-radius: $borderRadius;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  min-width: fit-content;
  width: 100%;
}

.table-header-btn {
  border: 1px black solid;
  background: transparent;
  padding-bottom: 5px;
  border-radius: 5px;
  i{
      position: unset;
      top: 6px;
  }
}
