::ng-deep .pasword .mat-form-field-underline {
     position: initial !important;
}

::ng-deep .pasword .mat-form-field-subscript-wrapper {
    position: initial !important; //relative
}

.back-btn {
    // position: absolute;
    display: flex;
    align-items: center;
    margin-top: 45px;
    font-size: 17px;
    padding: 5px 15px;
    color: #272fb0 !important;
    border-color: #272fb0 !important;
    background: transparent;
}