<div class="header header-bg-gradient-info pb-8 pt-md-8">
    <button class="btn btn-outline-primary back-btn" (click)="back()">
        <i class="fa fa-long-arrow-left mr-1" aria-hidden="true"></i><span class="backbtn">BACK</span>
    </button>
</div>
<div class="container-fluid mt--14">
    <!--Change Password-->
    <div class="row d-flex justify-content-end clearfix">
        <div class="d-flex gap-5 justify-content-center mx-auto col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header card-header-default">
                    <h4 class="card-title">{{title}}</h4>
                </div>
                <div class="card-body">
                    <form class="form-group col-12 px-lg-5 px-md-5 px-sm-0 px-xs-0" [formGroup]="changePassword">
                        <mat-form-field>
                            <mat-label>Old Password</mat-label>
                            <input type="text" matInput formControlName="oldPassword" placeholder="Enter Old Password">
                            <mat-error *ngIf="changePassword.get('oldPassword').hasError('required')">
                                Old Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="pasword">
                            <mat-label>New Password</mat-label>
                            <input type="password" class="pasword" matInput formControlName="newPassword"
                                placeholder="Enter New Password">
                            <mat-error *ngIf="changePassword.get('newPassword').hasError('required')">
                                New Password is required
                            </mat-error>
                            <mat-error class="pasword" *ngIf="changePassword.get('newPassword').hasError('pattern')">
                                Your password must be have at least
                                <ul>
                                    <li>8 characters long</li>
                                    <li>1 uppercase & 1 lowercase character</li>
                                    <li>1 number & a special character</li>
                                </ul>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Confirm New Password</mat-label>
                            <input type="password" matInput formControlName="confirmNewPassword"
                                placeholder="Enter Confirm New Password" required>
                            <mat-error *ngIf="changePassword.get('confirmNewPassword').hasError('required')">
                                <b> Confirm New Password is required</b>
                            </mat-error>
                        </mat-form-field>
                        <mat-error
                            *ngIf="changePassword.get('confirmNewPassword').value != changePassword.get('newPassword').value">
                            Confirm New Password does not match
                        </mat-error>
                        <button type="button" class="btn btn-primary btn-sm mx-2"
                            [disabled]="!changePassword.valid || changePassword.get('confirmNewPassword').value != changePassword.get('newPassword').value"
                            (click)="onUpdate()">
                            Update
                        </button>
                        <button class="btn btn-danger btn-sm mx-2" type="reset" color="warn">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- #END# Add User -->
    </div>