<div class="header header-bg-gradient-info pb-8 pt-5 pt-md-8">
</div>

  <div class="container-fluid mt--14">
      <!-- Add  User -->
      <div class="row d-flex justify-content-end clearfix">
        <div class="d-flex gap-5 justify-content-center mx-auto col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header card-header-default">
                <h4 class="card-title"> {{ dialogTitle }}</h4>
            </div>
            <div class="card-body">
              <form class="register-form m-4" [formGroup]="addDailyStatus" (ngSubmit)="onRegister()">
                <div class="row">

                  <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width mb-3">
                      <mat-label> Date  </mat-label>
                      <input  matInput [matDatepicker]="picker1" [max]="today" formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="addDailyStatus.get('date').hasError('required')">
                        Please select date
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width">
                      <mat-label>Notes</mat-label>
                      <textarea maxlength="230"matInput formControlName="notes" required></textarea>
                      <mat-icon matSuffix>description</mat-icon>
                      <mat-error *ngIf="addDailyStatus.get('notes').hasError('required')">
                        Notes is required
                      </mat-error>
                    </mat-form-field>

                  </div>
                 


                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <button
                      type="button"
                      class="btn btn-primary my-4"
                      [disabled]="!addDailyStatus.valid"
                      (click)="onRegister()"
                    >
                      {{ buttonTitle }}
                    </button>
                    <button class="btn btn-danger my-4" type="reset" color="warn" (click)="onNoClick()">
                  {{cancelButton}}
                </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Add User -->
    </div>



